.App {
  display: flex;
  flex-direction: column;
}

.App-header {
  text-transform: uppercase;
  height: 50px;
  padding: 10px;
  color: grey;
  font-size: 22px;
  text-align: center;
  letter-spacing: 7px;
}

.App-controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App-footer {
  color: grey;
  font-size: 18px;
  text-align: center;
  text-transform: capitalize;
  margin: 10px;
  padding: 10px;
}
